body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    border: 2px solid #ddd;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.start-button {
    padding: 10px 15px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.restart-button {
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #45a049;
}
.restart-button:hover {
    background-color: #45a049;
}

